.navbar{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.navbar-nav li a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-size: 15px;
    letter-spacing: 1.7px;
    padding: 0 10px;
}

.navbar-nav li a:after {
    content: "";
    position: absolute;
    background-color: gray;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar-nav li a:hover {
    color: #ffffff;
}

.navbar-nav li a:hover:after {
    width: 100%;
}

.row .card:hover{
    /* transform: scale(0.9); */
    transition: 0.7s;
    transform: scale(0.9);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.col-3{
    width: 25%;
    padding: 10px;
}
.other-display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-info{
    width: 90%;
}

.tag{
    position: absolute;
    background: #0e0e0ef2;
    border: 1px solid black;
    font-size: 14px;
    width: 68px;
    padding: 3px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    right: 8px;
    text-align: center;
    top: 8px;
}

#soldout {
    text-decoration: line-through;
}

.btn-1{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: absolute;
}
.btn-1:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
.btn-2{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: absolute;
    left: 63%;
}
.btn-2:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
.btn-3{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 5px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: absolute;
    left: 72%;
}
.btn-3:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
.btn-4{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 5px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: absolute;
}
.btn-4:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
.btn-5{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 5px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: absolute;
    left: 62%;
}
.btn-5:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
.btn-6{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: absolute;
    left: 72%;
}
.btn-6:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
.product-btn button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 15px 140px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: absolute;
}
.product-btn button:hover{
    transition: 0.5s;
    transform: scale(0.9);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.product-btn2 button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 143px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: absolute;
}
.product-btn2 button:hover{
    transition: 0.5s;
    transform: scale(0.9);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.tag{
    position: absolute;
    background: #0e0e0ef2;
    border: 1px solid black;
    font-size: 14px;
    width: 68px;
    padding: 3px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    right: 8px;
    text-align: center;
    top: 8px;
}

#as {
    text-decoration-line: none;
    color: rgba(218, 217, 217, 0.907);
}

#as:hover {
    color: white;
}