.container .proceed {
    padding: 10px 10px;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
}

.container .proceed:hover {
    transition: 0.7s;
    background-color: white;
    color: black;
    box-shadow: 0 0 0 1px black;
}

.container .proceed i {
    transition: transform 1s;
}

.container .proceed:hover i {
    transform: translateX(100%);
}

@keyframes move {
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.container .items p{
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }

  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }

  /* .pagination a:hover:not(.active) {background-color: #ddd;} */


.container .shipping {
    box-shadow: 0 0 0 1px rgb(199, 199, 199);
    padding: 2px 10px;
}

.container .proinfo a {
    text-decoration: none;
}

.container .contact .title {
    color: rgb(116, 116, 116);
}