.navbar{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.navbar-nav li a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-size: 15px;
    letter-spacing: 1.7px;
    padding: 0 !important;
    margin: 0px 10px;
}

.navbar-nav li a:after {
    content: "";
    position: absolute;
    background-color: rgba(185, 185, 185, 0.842);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar-nav li a:hover {
    color: #ffffff;
}

.navbar-nav li a:hover:after {
    width: 100%;
}

.row .card:hover{
    /* transform: scale(0.9); */
    transition: 0.7s;
    transform: scale(1.01);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}


.col-3{
    width: 25%;
    padding: 10px;
    margin: 0px;
}

.other-display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-info{
    width: 90%;
}

.tag{
    position: absolute;
    background: #0e0e0ef2;
    border: 1px solid black;
    font-size: 14px;
    width: 68px;
    padding: 3px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    right: 8px;
    text-align: center;
    top: 8px;
}

#soldout {
    text-decoration: line-through;
}

#sizes {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.6em;
}

#sizes button {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

#sizes button.active {
    background-color: black;
    color: white;
    transition: 0.3s;
}

#sizes button:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

.quantity button {
    border: none;
    background-color: white;
    font-size: 10px;
    padding: 1.5em 2em;
    z-index: 1;
}

.quantity button:disabled {
    cursor :not-allowed;
}

.quantity {
    border: 1px solid black;
    width: 9em;
}

.quantity-container {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.quantity-container:focus {
    background-color: black;
}

#quantity , .target-quantity {
    width: 100%;
    height: 100%;
    outline: none;
    text-align: center;
}

#quantity:focus , .target-quantity:focus   {
    border: 1px solid black;
    outline: 1px solid black;
    box-shadow: 0 0 0 5px white;
    outline-offset: 5px;
}

/* Chrome, Safari, Edge, Opera */
#quantity::-webkit-outer-spin-button,
#quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#quantity[type=number] {
  -moz-appearance: textfield;
}       

.product-btn button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    /* border: none; */
    width: calc(100%);
    margin-bottom: 1em;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
.product-btn button:hover{
    transition: 0.5s;
    transform: scale(1.01);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.tag{
    position: absolute;
    background: #0e0e0ef2;
    border: 1px solid black;
    font-size: 14px;
    width: 68px;
    padding: 3px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    right: 8px;
    text-align: center;
    top: 8px;
}

.as {
    text-decoration-line: none;
    color: rgba(218, 217, 217, 0.907);
}

.as:hover {
    color: white;
}

.soldout, .soldout a, .soldout a:hover{
    cursor: not-allowed;
}

.soldout-name {
    text-decoration: line-through;
}

#Cart {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 30vw;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    transform: translateX(100%);
    transition: 0.3s;
}

#Cart .close {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 30px;
    top: 15px;
    left: 15px;
    position: absolute;
}

#Cart .close:hover {
    color: rgba(137, 137, 137, 0.761);
}

#shadow {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 998;
    width: 100%;
    opacity: 0.5;
}

.hide {
    display: none;
}

#Cart .content {
    text-align: center;
}

#Cart .content h3 {
    font-weight: 100;
}

#Cart .content a {
    background-color: black;
    color: white;
    padding: 10px 10px;
    border: none;
    text-decoration: none;
}

#Cart .content a:hover {
    box-shadow: 0 0 0 1px black;
    background-color: white;
    color: black;
    transition: 0.5s;
}

#Cart .empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Cart .not-empty h3 {
    font-weight: 300;
}

#Cart .items .tshirt-name {
    font-size: 15px;
}

#Cart .items .price-1 {
    font-size: 15px;
}

#Cart .items .size {
    font-size: 15px;
}

#Cart .items .trash {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 10px;
}

#Cart .items {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#Cart .items::-webkit-scrollbar {
    width: 5px;
}

#Cart .items::-webkit-scrollbar-track {
    background: gray;
    border-radius: 20px;
}

#Cart .items::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 20px;
}

#Cart .not-empty {
    padding: 20px 22px ;
}

#Cart .sizes {
    display: flex;
    justify-content: space-between;
}

#Cart .left {
    text-align: right;
}

#Cart .col-4 {
    position: relative;
}

#Cart .items .row {
    margin-bottom: 20px;
}

#Cart .checkout button {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    height: 50px;
    background-color: black;
    color: white;
}

#Cart .checkout {
    background: white;
    z-index: 3;
    position: absolute;
    padding: 0px 20px;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 15vh;
}

#Cart .checkout > div {
    border-top: 1px solid rgb(201, 201, 201);
    position: relative;
    padding: 8px 0px;
    height: 100%;
}

#Cart .checkout > div > div {
    display: flex;
    justify-content: space-between;
}

#Cart .not-empty h3{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(207, 207, 207);
}