.navbar-nav li a {
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: white;
  font-size: 15px;
  letter-spacing: 1.7px;
  padding: 0 !important;
  margin: 0px 10px;
}

.navbar-nav li a:after {
  content: "";
  position: absolute;
  background-color: rgba(185, 185, 185, 0.842);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.navbar-nav li a:hover {
  color: #ffffff;
}

.navbar-nav li a:hover:after {
  width: 100%;
}

.row .card:hover{
    /* transform: scale(0.9); */
    transition: 0.7s;
    transform: scale(0.9);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.blogs h4{
    font-family: sans-serif;
}

#blogs-1:hover {
    transition: 0.9s;
    transform: scale(1.01);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
}

#blogs-2:hover {
    transition: 0.9s;
    transform: scale(1.01);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
}

.text-1 {
    border: 10px solid black;
    color: white;
    font-size: 50px;
    background-color: black;
}

.as {
  text-decoration-line: none;
  color: rgba(218, 217, 217, 0.907);
}

.as:hover {
  color: white;
}