.navbar{
    z-index: 1;
}

.navbar-nav li a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-size: 15px;
    letter-spacing: 1.7px;
    padding: 0 !important;
    margin: 0px 10px;
}

.navbar-nav li a:after {
    content: "";
    position: absolute;
    background-color: rgba(185, 185, 185, 0.842);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar-nav li a:hover {
    color: #ffffff;
}

.navbar-nav li a:hover:after {
    width: 100%;
}

.row .card:hover{
    /* transform: scale(0.9); */
    transition: 0.7s;
    transform: scale(1.01);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.row .card:hover h5{
    text-decoration: underline;
}
.card-body h5{
    font-size: 18px;
}
.card-body i{
    font-size: 14px;
}
.row .card{
    border: none;
}
.page-1 a{
    background-color: rgb(247, 247, 247);
    color: black;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: absolute;
    left: 44%;
}
.page-1 a:hover{
    transition: 0.7s;
    transform: scale(0.9);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.page-2 a{
    background-color: rgb(247, 247, 247);
    color: black;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: absolute;
    left: 51%;
}
.page-2 a:hover{
    transition: 0.7s;
    transform: scale(0.9);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

#soldout {
    text-decoration: line-through;
}

.text-1 {
    border: 10px solid black;
    color: white;
    font-size: 50px;
    background-color: black;
}

.tag{
    position: absolute;
    background: #0e0e0ef2;
    border: 1px solid black;
    font-size: 14px;
    width: 68px;
    padding: 3px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    right: 8px;
    text-align: center;
    top: 8px;
}

.as {
    text-decoration-line: none;
    color: rgba(218, 217, 217, 0.907);
}

.as:hover {
    color: white;
}

#Cart {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 30vw;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    transform: translateX(100%);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Cart .close {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 30px;
    top: 15px;
    left: 15px;
    position: absolute;
}

#shadow {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 998;
    width: 100%;
    opacity: 0.5;
}

.hide {
    display: none;
}

#Cart .content {
    text-align: center;
}

#Cart .content h3 {
    font-weight: 350;
}

#Cart .content a {
    background-color: black;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}

#Cart .content a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}

.soldout, .soldout a, .soldout a:hover{
    cursor: not-allowed;
}